<br>
<br>
<br>
<div>
    By <a href="//commons.wikimedia.org/wiki/User:Andreuvv" title="User:Andreuvv">Andreuvv</a> - 
    <span class="int-own-work" lang="en">Own work</span>, 
    <a href="https://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, 
    <a href="https://commons.wikimedia.org/w/index.php?curid=90090997">Bug type icon</a>, 
    <a href="https://commons.wikimedia.org/w/index.php?curid=90073152">Dark type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90091536">Dragon type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90073970">Electric type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90091827">Fairy type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90091108">Fighting type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90091252">Fire type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90091388">Flying type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90091768">Ghost type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90090895">Grass type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90073423">Ground type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90090829">Ice type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90072982">Normal type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90074185">Poison type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90091324">Psychic type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90073639">Rock type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90073522">Steel type icon</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=90080642">Water type icon</a>
</div>