<div *ngIf="pokemon" class="container{{this.selected ? ' selected' : ' small'}}">
    <div class="content" (click)="this.showDetailsClick()">
        <div class="item-header">
            <div class="header-top">
                <p class="nr-text">No. {{pokemon.Pokemon?.id}}</p>
                <div class="types">
                    <img 
                        *ngFor="let type of pokemon.Pokemon?.types" 
                        src="{{this.commons.GetIcon(type.type.name)}}" 
                        width="30px" height="auto" alt=""
                        title="{{type.type.name }}"
                    >
                </div>
            </div>

            <p class="poke-name-text">{{((pokemon.Pokemon?.name | titlecase) || "" ) }}</p>
        

        </div>

        
        <img class="profile-image" src="{{pokemon.Pokemon?.sprites?.other?.home?.front_default}}"/>
        <div *ngIf="this.selected && this.pokemon.PokemonSpecies">
            <p class="flavored-text">
                {{this.currFlavoredText != null ? this.currFlavoredText.flavor_text :this.getFlavorText()}}
            </p>
           
        </div>
    </div>
   
</div>
