
html{
    background-image: linear-gradient(rgb(90, 164, 255),rgb(0, 0, 0));
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center fixed;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
